filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/*.log
      - /var/log/syslog

output.elasticsearch:
  hosts: ["http://10.1.0.20:9200"]
  username: "elastic"
  password: "{{ elastic_password }}"

setup.kibana:
  host: "http://10.1.0.20:5601"
