client
dev tun
proto udp
remote {{ openvpn_server_ip }} {{ vpn_port | default(1194) }}

resolv-retry infinite
nobind
persist-key
persist-tun

cipher AES-256-GCM
auth SHA256
key-direction 1
verb 3

# Prevent the client from accepting a pushed route to its own local LAN.
pull-filter ignore "route {{ lan_s2.split('/')[0] }} 255.255.255.0"

<ca>
{{ ca_cert.content | b64decode }}
</ca>

<cert>
{{ client_cert.content | b64decode | regex_replace('(?s)^.*?(-----BEGIN CERTIFICATE-----)', '\\1') }}
</cert>

<key>
{{ client_key.content | b64decode }}
</key>

<tls-auth>
{{ ta_key.content | b64decode }}
</tls-auth>
