[defaults]
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o ControlMaster=no -o ServerAliveInterval=30 -o ServerAliveCountMax=20
pipelining = True
retries = 3
