client
dev tun
proto udp
remote 192.168.241.129 1194

resolv-retry infinite
nobind
persist-key
persist-tun

cipher AES-256-GCM
auth SHA256
key-direction 1
verb 3

<ca>
{{ ca_cert.content | b64decode }}
</ca>

<cert>
{{ client_cert.content | b64decode | regex_replace('(?s)^.*?(-----BEGIN CERTIFICATE-----)', '\\1') }}
</cert>

<key>
{{ client_key.content | b64decode }}
</key>

<tls-auth>
{{ ta_key.content | b64decode }}
</tls-auth>
